/* Ce palettre de couleurs a été extrait à partir de la photo de Aïcha Diallo*/
/* Color Theme Swatches in Hex */
.color-theme_black-women-4957031_1920-1-hex { color: #D9B8C4; }
.color-theme_black-women-4957031_1920-2-hex { color: #F2D8E1; }
.color-theme_black-women-4957031_1920-3-hex { color: #26101C; }
.color-theme_black-women-4957031_1920-4-hex { color: #232126; }
.color-theme_black-women-4957031_1920-5-hex { color: #0C0C0D; }

/* Color Theme Swatches in RGBA */
.color-theme_black-women-4957031_1920-1-rgba { color: rgba(217, 184, 196, 1); }
.color-theme_black-women-4957031_1920-2-rgba { color: rgba(242, 216, 225, 1); }
.color-theme_black-women-4957031_1920-3-rgba { color: rgba(38, 16, 28, 1); }
.color-theme_black-women-4957031_1920-4-rgba { color: rgba(35, 33, 38, 1); }
.color-theme_black-women-4957031_1920-5-rgba { color: rgba(12, 12, 13, 1); }

/* Color Theme Swatches in HSLA */
.color-theme_black-women-4957031_1920-1-hsla { color: hsla(338, 30, 78, 1); }
.color-theme_black-women-4957031_1920-2-hsla { color: hsla(339, 49, 89, 1); }
.color-theme_black-women-4957031_1920-3-hsla { color: hsla(327, 40, 10, 1); }
.color-theme_black-women-4957031_1920-4-hsla { color: hsla(264, 7, 13, 1); }
.color-theme_black-women-4957031_1920-5-hsla { color: hsla(240, 4, 4, 1); }
